USE [MuseumsManagerDB]
GO
SET IDENTITY_INSERT [dbo].[FamigliaMusei] ON 

INSERT [dbo].[FamigliaMusei] ([idFamiglia], [Nome]) VALUES (1, N'Famiglia di musei Cesenati')
SET IDENTITY_INSERT [dbo].[FamigliaMusei] OFF
GO
SET IDENTITY_INSERT [dbo].[Museo] ON 

INSERT [dbo].[Museo] ([idMuseo], [Nome], [Luogo], [OrarioAperturaGenerale], [OrarioChiusuraGenerale], [NumBigliettiMaxGenerale], [idFamiglia]) VALUES (1, N'Museo di storia romana', N'Cesena', CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), 100, 1)
INSERT [dbo].[Museo] ([idMuseo], [Nome], [Luogo], [OrarioAperturaGenerale], [OrarioChiusuraGenerale], [NumBigliettiMaxGenerale], [idFamiglia]) VALUES (2, N'Museo di Arte', N'Cesena', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 50, 1)
SET IDENTITY_INSERT [dbo].[Museo] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoBiglietto] ON 

INSERT [dbo].[TipoBiglietto] ([idTipoBiglietto], [Nome], [Prezzo], [Descrizione], [idMuseo]) VALUES (1, N'Biglietto Standard', 10, N'Biglietto standard del museo di storia romana di Cesena.', 1)
INSERT [dbo].[TipoBiglietto] ([idTipoBiglietto], [Nome], [Prezzo], [Descrizione], [idMuseo]) VALUES (2, N'Biglietto Studente', 5, N'Biglietto studente del museo di storia romana di Cesena. Sconto del 50%.', 1)
INSERT [dbo].[TipoBiglietto] ([idTipoBiglietto], [Nome], [Prezzo], [Descrizione], [idMuseo]) VALUES (3, N'Biglietto Over 60', 8, N'Biglietto del museo di storia romana di Cesena. Valido per persone oltre i 60 anni di età. Sconto del 20%.', 1)
SET IDENTITY_INSERT [dbo].[TipoBiglietto] OFF
GO
SET IDENTITY_INSERT [dbo].[Biglietto] ON 

INSERT [dbo].[Biglietto] ([idBiglietto], [DataValidita], [PrezzoAcquisto], [idMuseo], [idTipoBiglietto]) VALUES (2, CAST(N'2020-12-05' AS Date), 50, 2, 9)
INSERT [dbo].[Biglietto] ([idBiglietto], [DataValidita], [PrezzoAcquisto], [idMuseo], [idTipoBiglietto]) VALUES (3, CAST(N'2020-12-13' AS Date), 50, 2, 9)
INSERT [dbo].[Biglietto] ([idBiglietto], [DataValidita], [PrezzoAcquisto], [idMuseo], [idTipoBiglietto]) VALUES (4, CAST(N'2020-12-14' AS Date), 50, 2, 9)
GO
SET IDENTITY_INSERT [dbo].[Biglietto] OFF
GO
SET IDENTITY_INSERT [dbo].[CalendarioChiusure] ON 

INSERT [dbo].[CalendarioChiusure] ([idCalendarioChiusure], [Data], [idMuseo]) VALUES (1, CAST(N'2020-12-23' AS Date), 1)
SET IDENTITY_INSERT [dbo].[CalendarioChiusure] OFF
GO
SET IDENTITY_INSERT [dbo].[Provenienza] ON 

INSERT [dbo].[Provenienza] ([idProvenienza], [Nome], [Descrizione]) VALUES (2, N'Cesena', N'Cesena, Italia (FC)')
INSERT [dbo].[Provenienza] ([idProvenienza], [Nome], [Descrizione]) VALUES (3, N'Sarsina', N'Sarsina, Italia (FC)')
SET IDENTITY_INSERT [dbo].[Provenienza] OFF
GO
SET IDENTITY_INSERT [dbo].[PeriodoStorico] ON 

INSERT [dbo].[PeriodoStorico] ([idPeriodoStorico], [Nome], [Descrizione], [AnnoInizio], [AnnoFine]) VALUES (1, N'Medioevo Romano', N'Periodo storico rappresentativo del medioevo romano.', 476, 1492)
INSERT [dbo].[PeriodoStorico] ([idPeriodoStorico], [Nome], [Descrizione], [AnnoInizio], [AnnoFine]) VALUES (2, N'XVII Secolo', N'Periodo storico rappresentante gli anni dal 1600 al 1700.', 1600, 1700)
SET IDENTITY_INSERT [dbo].[PeriodoStorico] OFF
GO
SET IDENTITY_INSERT [dbo].[Sezione] ON 

INSERT [dbo].[Sezione] ([idSezione], [Nome], [Descrizione], [idSezionePadre], [idMuseo]) VALUES (1, N'Sezione mosaici', N'Sezione che racchiude tutti i mosaici romani rinvenuti a Cesena', NULL, 1)
INSERT [dbo].[Sezione] ([idSezione], [Nome], [Descrizione], [idSezionePadre], [idMuseo]) VALUES (2, N'Sezione cimeli romani', N'Sezione che racchiude tutti i cimeli romani rinvenuti a Cesena', NULL, 1)
INSERT [dbo].[Sezione] ([idSezione], [Nome], [Descrizione], [idSezionePadre], [idMuseo]) VALUES (3, N'Sezione armi romane', N'Sezione che racchiude tutte le armi romane rinvenute in Romagna', NULL, 1)
SET IDENTITY_INSERT [dbo].[Sezione] OFF
GO
SET IDENTITY_INSERT [dbo].[Contenuto] ON 

INSERT [dbo].[Contenuto] ([idContenuto], [Nome], [Descrizione], [DataRitrovamento], [DataArrivoMuseo], [idContenutoPadre], [idProvenienza], [idPeriodoStorico], [idSezione]) VALUES (1, N'Spada romana', N'La classica spada romana.', CAST(N'1400-01-01' AS Date), CAST(N'2010-01-01' AS Date), NULL, 2, 1, 5)
INSERT [dbo].[Contenuto] ([idContenuto], [Nome], [Descrizione], [DataRitrovamento], [DataArrivoMuseo], [idContenutoPadre], [idProvenienza], [idPeriodoStorico], [idSezione]) VALUES (2, N'Lancia romana', N'La classica lancia romana.', CAST(N'1400-01-01' AS Date), CAST(N'2010-01-01' AS Date), NULL, 2, 1, 5)
INSERT [dbo].[Contenuto] ([idContenuto], [Nome], [Descrizione], [DataRitrovamento], [DataArrivoMuseo], [idContenutoPadre], [idProvenienza], [idPeriodoStorico], [idSezione]) VALUES (3, N'Mosaico arena', N'Mosaico raffigurante un arena romana.', CAST(N'1450-01-01' AS Date), CAST(N'2010-01-01' AS Date), NULL, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Contenuto] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoContenuto] ON 

INSERT [dbo].[TipoContenuto] ([idTipoContenuto], [Descrizione]) VALUES (3, N'Arma romana')
INSERT [dbo].[TipoContenuto] ([idTipoContenuto], [Descrizione]) VALUES (1, N'Cimelio romano')
INSERT [dbo].[TipoContenuto] ([idTipoContenuto], [Descrizione]) VALUES (2, N'Mosaico romano')
SET IDENTITY_INSERT [dbo].[TipoContenuto] OFF
GO
SET IDENTITY_INSERT [dbo].[Creatore] ON 

INSERT [dbo].[Creatore] ([idCreatore], [Nome], [Cognome], [Descrizione], [AnnoNascita]) VALUES (1, N'Jan ', N'Vermeer', N'Pittore olandese.', 1632)
INSERT [dbo].[Creatore] ([idCreatore], [Nome], [Cognome], [Descrizione], [AnnoNascita]) VALUES (2, N'Creatore', N'sconosciuto', N'Creatore sconosciuto.', 2020)
SET IDENTITY_INSERT [dbo].[Creatore] OFF
GO
INSERT [dbo].[Creato] ([idContenuto], [idCreatore]) VALUES (1, 2)
INSERT [dbo].[Creato] ([idContenuto], [idCreatore]) VALUES (2, 2)
INSERT [dbo].[Creato] ([idContenuto], [idCreatore]) VALUES (3, 2)
GO
INSERT [dbo].[Museo_Creatore] ([idCreatore], [idMuseo]) VALUES (2, 1)
GO
INSERT [dbo].[Museo_PeriodoStorico] ([idMuseo], [idPeriodoStorico]) VALUES (1, 1)
GO
INSERT [dbo].[Museo_Provenienza] ([idMuseo], [idProvenienza]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[TipoMuseo] ON 

INSERT [dbo].[TipoMuseo] ([idTipoMuseo], [Descrizione]) VALUES (4, N'Arte')
INSERT [dbo].[TipoMuseo] ([idTipoMuseo], [Descrizione]) VALUES (3, N'Medioevo')
INSERT [dbo].[TipoMuseo] ([idTipoMuseo], [Descrizione]) VALUES (7, N'Pittura')
SET IDENTITY_INSERT [dbo].[TipoMuseo] OFF
GO
INSERT [dbo].[Museo_Tipologia] ([idMuseo], [idTipoMuseo]) VALUES (1, 1)
INSERT [dbo].[Museo_Tipologia] ([idMuseo], [idTipoMuseo]) VALUES (1, 2)
INSERT [dbo].[Museo_Tipologia] ([idMuseo], [idTipoMuseo]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Personale] ON 

INSERT [dbo].[Personale] ([idPersonale], [Nome], [Cognome], [Cellulare], [Email], [StipendioOra], [idMuseo]) VALUES (1, N'Paolo', N'Rossi', N'1234567890', N'paolo.rossi@live.it', 10, 1)
INSERT [dbo].[Personale] ([idPersonale], [Nome], [Cognome], [Cellulare], [Email], [StipendioOra], [idMuseo]) VALUES (2, N'Giorgio', N'Verdi', N'987654321', N'giorgio.verdi@live.it', 15, 1)
INSERT [dbo].[Personale] ([idPersonale], [Nome], [Cognome], [Cellulare], [Email], [StipendioOra], [idMuseo]) VALUES (3, N'Marco', N'Bianchi', N'1324576890', N'marco.bianchi@live.it', 15, 1)
SET IDENTITY_INSERT [dbo].[Personale] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPersonale] ON 

INSERT [dbo].[TipoPersonale] ([idTipoPersonale], [Descrizione]) VALUES (4, N'Cassiere')
INSERT [dbo].[TipoPersonale] ([idTipoPersonale], [Descrizione]) VALUES (3, N'Cicerone')
INSERT [dbo].[TipoPersonale] ([idTipoPersonale], [Descrizione]) VALUES (1, N'Manager')
SET IDENTITY_INSERT [dbo].[TipoPersonale] OFF
GO
INSERT [dbo].[Personale_Tipologia] ([idPersonale], [idTipoPersonale]) VALUES (1, 2)
INSERT [dbo].[Personale_Tipologia] ([idPersonale], [idTipoPersonale]) VALUES (1, 3)
INSERT [dbo].[Personale_Tipologia] ([idPersonale], [idTipoPersonale]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[RegistroManutenzioni] ON 

INSERT [dbo].[RegistroManutenzioni] ([idManutenzione], [idMuseo], [Data], [Descrizione], [Prezzo]) VALUES (1, 2, CAST(N'2020-12-21' AS Date), N'Riparazione pavimenti', 200)
INSERT [dbo].[RegistroManutenzioni] ([idManutenzione], [idMuseo], [Data], [Descrizione], [Prezzo]) VALUES (2, 2, CAST(N'2020-12-17' AS Date), N'Sostituzione cornici', 500)
INSERT [dbo].[RegistroManutenzioni] ([idManutenzione], [idMuseo], [Data], [Descrizione], [Prezzo]) VALUES (3, 2, CAST(N'2020-11-21' AS Date), N'Manutenzione di servizio (controlli)', 50)
SET IDENTITY_INSERT [dbo].[RegistroManutenzioni] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoSezione] ON 

INSERT [dbo].[TipoSezione] ([idTipoSezione], [Descrizione]) VALUES (3, N'Armi')
INSERT [dbo].[TipoSezione] ([idTipoSezione], [Descrizione]) VALUES (2, N'Cimeli')
INSERT [dbo].[TipoSezione] ([idTipoSezione], [Descrizione]) VALUES (4, N'Dipinti')
SET IDENTITY_INSERT [dbo].[TipoSezione] OFF
GO
INSERT [dbo].[Sezione_Tipologia] ([idSezione], [idTipoSezione]) VALUES (10, 4)
INSERT [dbo].[Sezione_Tipologia] ([idSezione], [idTipoSezione]) VALUES (11, 4)
INSERT [dbo].[Sezione_Tipologia] ([idSezione], [idTipoSezione]) VALUES (12, 4)
GO

/****** Object:  StoredProcedure [dbo].[DeleteContenuto]    Script Date: 16/12/2020 23:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteContenuto] (@idContenuto INT)
AS
BEGIN
	DECLARE @ids TABLE	(idContenuto INT)
	DECLARE @tmp TABLE	(idContenuto INT)
	DELETE Contenuto WHERE idContenuto = @idContenuto;

	INSERT INTO @tmp(idContenuto)
	SELECT idContenuto 
	FROM Contenuto 
	WHERE idContenutoPadre = @idContenuto;

	INSERT INTO @ids
	SELECT idContenuto
	FROM @tmp;


	WHILE (SELECT COUNT(idContenuto) FROM @tmp) > 0
	BEGIN
	DELETE @tmp;
	DELETE Contenuto WHERE idContenuto IN (SELECT idContenuto FROM @ids);

	INSERT INTO @tmp(idContenuto)
	SELECT idContenuto 
	FROM Contenuto 
	WHERE idContenutoPadre IN (SELECT idContenuto FROM @ids);

	DELETE @ids;

	INSERT INTO @ids
	SELECT idContenuto
	FROM @tmp;
	END
END
GO

CREATE PROCEDURE [dbo].[DeleteSezione] (@idSezione INT)
AS
DECLARE @ids TABLE	(idSezione INT)
	DECLARE @tmp TABLE	(idSezione INT)
	DELETE Sezione WHERE idSezione = @idSezione;

	INSERT INTO @tmp(idSezione)
	SELECT idSezione 
	FROM Sezione 
	WHERE idSezionePadre = @idSezione;

	INSERT INTO @ids
	SELECT idSezione
	FROM @tmp;


	WHILE (SELECT COUNT(idSezione) FROM @tmp) > 0
	BEGIN
	DELETE @tmp;
	DELETE Sezione WHERE idSezione IN (SELECT idSezione FROM @ids);

	INSERT INTO @tmp(idSezione)
	SELECT idSezione 
	FROM Sezione 
	WHERE idSezionePadre IN (SELECT idSezione FROM @ids);

	DELETE @ids;

	INSERT INTO @ids
	SELECT idSezione
	FROM @tmp;
END

